{{!-- <main class="main-wrapper" id="container">  --}}
  
  <!-- image Gallery -->

<div class="container-fluid">


  
  <div class="wrapper">
    <div class="">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3 masonry">

        {{#each cars}}
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src={{this.image}} alt={{this.model}} />
            <figcaption>
              <h2>Photo <span>{{this.model}}</span></h2>
              <p>{{this.note}}</p>
               </figcaption>
          </figure>

          <div class="buttonContainer">
              <a class="btn btn-default" href="/carDetails?car={{this._id}}">View more</a>
          {{#if ../currentUser}}
                
                    {{#if ../car.isCarRented}}
                        <p>Sorry.. this car is rented at the moment. This car will be free after {{car.rentedDays}} days from {{car.startRentingDate}}</p>
                    {{else}}

                          <a class="btn btn-primary" href="/cars/rent/{{this._id}}">Rent this car</a>
                {{/if}}    

                {{/if}}

                {{#if ../isAdmin}}
                  <a class="btn btn-warning" href="/editCar?id={{this._id}}">Edit Advert</a>
                  <a class="btn btn-danger" href="/deleteCar?id={{this._id}}">Delete</a>
                {{/if}}
            
          </div>
          
        </li>

        {{/each}}

        
        {{!-- <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/02.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/03.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="/details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/04.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/05.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/06.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/07.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/08.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/09.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/10.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/11.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/12.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/13.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/14.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/16.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
        <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/17.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
         <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/18.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li>
         <li class="masonry-item grid">
          <figure class="effect-sarah"> <img src="/images/gallery/19.jpg" alt="" />
            <figcaption>
              <h2>Photo <span>Title</span></h2>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="details.html">View more</a> </figcaption>
          </figure>
        </li> --}}
      </ul>
    </div>
    {{#if hasPrevPage }}
       <a class="btn btn-default" href="/?page={{prevPage}}">Show Less</a>
      {{/if}}
      
      {{#if hasNextPage}}
        <a class="btn btn-default" href="/?page={{nextPage}}">Show More</a>
      {{/if}}
  </div>

</div>


    </div>
  </div>
{{!-- </main> --}}

<!-- Image Gallery --> 

<!-- footer -->

<footer class="footer">
  <h3>Stay connected with us</h3>
  <div class="container footer-bot">
    <div class="row"> 
      
      <!-- logo -->
      
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"> <img src="/images/footer-logo.png" alt="Picxa" title="Picxa"/>
        <p class="copy-right">&copy; Reserved Picxa inc 2016.</p>
      </div>
      
      <!-- logo --> 
      
      <!-- address -->
      
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top">
        <address>
        <p>200 Broadway Av</p>
        <p>West Beach SA 5024  Australia</p>
        </address>
      </div>
      
      <!-- address --> 
      
      <!-- email -->
      
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top">
        <p><a href="mailto:contact@Picxa.com">contact@Picxa.com</a></p>
        <p>01 (2) 34 56 78</p>
      </div>
      
      <!-- email --> 
      
      <!-- social -->
      
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 padding-top">
        <ul class="social">
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-delicious" aria-hidden="true"></i></a></li>
        </ul>
        <p class="made-by">Made with by <i class="fa fa-heart" aria-hidden="true"></i> <a href="http://www.designstub.com/" target="_blank">Designstub</a>
        <p> 
      </div>
      
      <!-- social --> 
      
    </div>
  </div>
</footer>